{% extends "base_generic.html %}

{% block content %}
<h1>Local library Home</h1>

 <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed by a student</p>

  <h2>Dynamic content</h2>

  <p> The library has the following information:</p>
  <ul>
    <li><strong>Directors</strong>{{num_directors}}</li>
    <li><strong>Films</strong>{{num_films}}</li>
      <li><strong>Instances</strong>{{num_instances}}</li>
      <li><strong>DirectorInfo</strong>{{num_directorInfo}}</li>

</ul>>

{% endblock %}
